.main-page {
  overflow-x: hidden;
  overflow-y: hidden;
}

#app-header {
  width: 1435px;
  margin: 1px 2px;
  border: 1px solid black;
  border-radius: 20px;
  height: auto;
  position: absolute;
  top: 0;
  color: #f7ede2;
  font-weight: bold;
  display: block;
  background-color: #555b6e;
  text-align: center;
}

#recommendation-title {
  position: absolute;
  background-color: white;
  color: #555b6e;
  font-weight: bold;
  top: 27px;
  left: 15px;
}

.Instructions {
  background-color: #faf9f9;
  color: #555b6e;
  font-weight: bold;
  margin: 0 2px;
  border-radius: 20px;
  width: 1160px;
  height: 725px;
  position: absolute;
  left: 275px;
  top: 36px;
  float: left;
  border: 1px solid black;
  text-align: center;
}

.loading {
  position: absolute;
  top: 24px;
  background-color: white;
  width: 1435px;
  height: 226px;
}

#loading-text {
  color: #555b6e;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  padding: 113px 0;
}

.UserProfile {
  background-color: #89b0ae;
  margin: 0 2px;
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  top: 0;
  left: 0px;
  width: 270px;
  height: 725px;
  float: left;
  padding: 15px;
}

.Figures {
  background-color: #faf9f9;
  margin: 0 2px;
  border-radius: 20px;
  width: 1160px;
  height: 725px;
  position: absolute;
  left: 275px;
  top: 250px;
  float: left;
  border: 1px solid black;
  text-align: center;
}

#user-profile-header {
  color: #faf9f9;;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  position: relative;
  margin-bottom: 30px;
}

.movie-select {
  font-size: small;
  border-radius: 20px;
}

.rating-select {
  font-size: small;
  position: relative;
  top: 2px;
}

#buttonGroup {
  overflow-y: hidden;
  position: relative;
  top: 15px;
  margin: 0;
}

#addMovieButton {
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #555b6e;
  position: relative;
  top: 0px;
  width: 80px;
  height: 36px;
  background-color: #555b6e;
  color: #f7ede2;
  font-weight: bold;
  font-size: 11px;
}

#addMovieButton:hover {
  padding: 0;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #555b6e;
  position: relative;
  top: 0px;
  width: 80px;
  height: 36px;
  background-color: #bee3db;
  color: #555b6e;
  font-weight: bold;
  font-size: 11px;
}

#submitButton {
  padding: 0px;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #555b6e;
  position: relative;
  top: 0px;
  width: 140px;
  height: 36px;
  background-color: #555b6e;
  color: #f7ede2;
  font-weight: bold;
  font-size: 11px;
}

#submitButton:hover {
  padding: 0;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #555b6e;
  position: relative;
  top: 0px;
  width: 140px;
  height: 36px;
  background-color: #bee3db;
  color: #555b6e;
  font-weight: bold;
  font-size: 11px;
}

#list-header {
  color: #faf9f9;
  font-weight: bold;
  position: relative;
  top: 0px;
}

.list-container {
  max-height: 500px;
  overflow-y: auto;
  border-radius: 10px;
  border: none;
  position: relative;
  width: 240px;
  height: 550px;
  top: 0px;
}

#movieTitle {
  font-weight: normal;
  font-size: small;
  font-weight: bold;
  width: 170px;
  margin-bottom: 5px;
}

.delButton {
  padding: 1px;
  position: relative;
  top: 0;
  border-width: 1px;
  border-style: solid;
  border-color: firebrick;
  border-radius: 100%;
  width: 17.5px;
  height: 17.5px;
  font-size: 8px;
  font-weight: bolder;
  text-align: center;
  color: firebrick;
  margin-left: 5px;
  position: relative;
  background-color: white;
}

.delButton:hover {
  padding: 1px;
  border: none;
  position: relative;
  top: 0;
  border-radius: 100%;
  width: 17.5px;
  height: 17.5px;
  font-size: 8px;
  font-weight: bolder;
  text-align: center;
  color: white;
  position: relative;
  background-color: firebrick;
}

.row {
  background-color: white;
  display: inline-block;
  height: 300px;
}

.recommendations-posters {
  position: absolute;
  top: 0;
  left: 0;
}

#poster-container {
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  height: 205px;
  width: 1410px;
  position: relative;
  top: 40px;
}

#poster-image {
  width: 130px;
  height: 178px;
  display: inline-block;
  float: left;
}

.poster-border {
  width: 132px;
  height: 180px;
  border: 1px solid black;
  margin-right: 10px;
}

.poster-border div{
  position: relative;
  top: -180px;
  background: black;
  display: inline-block;
  float: left;
  height: 182px;
  width: 132px;
  color: white;
  margin-bottom: 0px;
  font-family: sans-serif;
  text-align: center;
  opacity: 0;
  visibility: visible;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.poster-border:hover{
  cursor: pointer;
}

.poster-border:hover div{
  width: 130px;
  height: 180px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.8;
}

.user-space {
  position: absolute;
  width: 535px;
  height: 715px;
  top: 5px;
  right: 3px;
  border-radius: 20px;
}

.item-space {
  position: absolute;
  width: 615px;
  height: 715px;
  top: 5px;
  left: 3px;
  border-radius: 20px;
}

#user-space-title {
  color: #555b6e;
  position: absolute;
  width: 130px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  top: 5px;
  left: 160px;
}

#item-space-title {
  color: #555b6e;
  position: absolute;
  width: 130px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  top: 5px;
  left: 160px;
}

#user-space-description {
  color: #555b6e;
  position: absolute;
  width: 440px;
  height: 80px;
  left: 5px;
  top: 35px;
  text-align: justify;
  font-size: 14px;
}

#item-space-description {
  color: #555b6e;
  position: absolute;
  width: 440px;
  height: 80px;
  left: 5px;
  top: 35px;
  text-align: justify;
  font-size: 14px;
}

.user-svg {
  background-color: white;
  border-radius: 8px;
  width: 440px;
  height: 440px;
  border: 1px solid black;
  display: inline-block;
  float: left;
  position: absolute;
  top: 120px;
  left: 5px;
}

.item-svg {
  background-color: white;
  border-radius: 8px;
  width: 440px;
  height: 440px;
  border: 1px solid black;
  display: inline-block;
  float: right;
  position: absolute;
  top: 120px;
  left: 5px;
}

.user-legend {
  position: absolute;
  top: 120px;
  left: 435px;
}

.item-legend {
  position: absolute;
  top: 120px;
  left: 435px;
  width: 180px;
}

.user-hover {
  width: 440px;
  height: 120px;
  position: absolute;
  top: 565px;
  left: 8px;
  text-align: left;
  font-size: 14px;
}

.item-hover {
  width: 440px;
  height: 120px;
  position: absolute;
  top: 565px;
  left: 8px;
  text-align: left;
  font-size: 14px;
}

.react-stars {
  z-index: 0;
}

.optionContainer .option:hover {
    background-color: #e7d8c9;
}